<%- partial('_partial/head') %>
<body>


  <% if(theme.toolbox && theme.toolbox.isShow == true && page.base !== '') { %>
    <span id="toolbox-mobile" class="toolbox-mobile"><%=  theme.toolbox.text %></span>
  <% } %>

  <%- body %>

  <%- partial('_partial/component/modal') %>


  <% if (theme.post.showComments && page.layout === 'post'){ %>
    <%- partial('_partial/component/comments', {className: 'comments-post'}) %>
  <% } else if (page.comments) { %>
    <%- partial('_partial/component/comments', {className: 'comments-' + page.layout}) %>
  <% } %>

  <%- partial('_partial/load-script') %>
<div class="footer">
  &copy; 2017 Xiaoguang-Liu | Powered by <a href="https://hexo.io/" target="_blank">Hexo</a> | Theme - based on <a href="https://github.com/forsigner/fexo" target="_blank">fexo</a>
</div>
<script>
// google统计
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-87747398-1', 'auto');
ga('send', 'pageview');

// 百度统计代码
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?b13a69b867cd1964903ac0c912077723";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>
